@media screen and (max-width: 768px) {
    #wrapper {
        display: grid;
        width: 100%;
        grid-template-columns: 100%;
        grid-template-rows: 100px 30px 400px 100px 100px 30px;
        grid-template-areas:
            "hdr"
            "nv"
            "yllw"
            "orng"
            "asd"
            "ftr";
        gap: 10px;
    }
    
}

